h1 {
  color: black;
}

#select-board {
  margin-top: 7px;
}

.header {
  font-size: 1em;
  font-family: "Sigmar One", cursive;
  text-align: center;
}
.computer {
  height: 60vh;
  border: 5px solid gainsboro;
  background-color: #ffffff;
  background-repeat: no-repeat;
  border-radius: 2%;
}

.display_results img {
  display: inherit;
  margin: 0 auto;
  border: 2px dashed #fff;
  margin-top: 3%;
}
.board_img {
  width: 100px;
}
.avatar_img {
  width: 300px;
}
.square {
  background-color: #9999;
  border-radius: 10px;
  height: 17vh;
  margin: 1%;
}
